<script>
    export default {
        props: ['record'],
        data() {
            return {
                copydata: null,
            }
        },
        methods: {
            handleSuccess() {
                alert('Email zkopírován do schránky');
                this.copydata = null;
            },
            handleRender() {
                axios.post('/show-record/render', {
                    'id': this.record
                })
                    .then(response => this.copydata = response.data.text)
                    .catch(error => console.log(error));
            }
        }
    }
</script>

<template>
    <button v-clipboard="copydata" @mouseenter="handleRender()" @success="handleSuccess" class="btn btn-primary"><i
            class="fa fa-download"></i> Uložit do schránky
    </button>
</template>