<script>
  import _ from 'lodash';

  module.exports = {
    props: {
      page: {
        type: Number,
        default: 1
      },
      filter: {
        type: String,
        default: ''
      },
      perPage: {
        type: Number,
        default: 50
      },
      groupActions: {
        type: Boolean,
        default: false
      },
      columns: {
        type: Array,
        default: null,
      },
      actions: {
        type: Boolean,
        default: false,
      },
      data: {
        type: Array,
        default: null,
      }
    },

    data() {
      return {
      }
    },

    beforeCompile() {

      if (this.columns === null) {
        this.columns = this.parseColumns();
      }

      if (this.data === null) {
        this.data = this.parseData();
      }

      this.$options._content.innerHTML = '';
    },

    methods: {
      parseColumns() {
        return _.map(this.$options._content.querySelectorAll('thead tr th'), function(item, index) {
          return {
            title: item.innerHTML,
            condensed: $(item).data('condensed') || false,
            key: index
          }
        });
      },

      parseData() {
        return _.map(this.$options._content.querySelectorAll('tbody tr'), function(row) {
          return _.reduce(row.querySelectorAll('td'), function(result, item, index) {
            return Object.assign(result, { [index]: item.innerHTML });
          }, {});
        });
      },

      changePage(inc) {
        this.page += inc;
        if (this.page > this.maxPage) {
          this.page = this.maxPage;
        }
        if (this.page < 1) {
          this.page = 1;
        }
      },
    },

    computed: {
      paginated() {
        return _.chunk(this.filteredData, this.perPage)[this.page - 1];
      },

      from() {
        return ((this.page - 1) * this.perPage) + 1;
      },

      to() {
        return Math.min(this.from + this.perPage - 1, this.filteredData.length);
      },

      maxPage() {
        return Math.ceil(this.filteredData.length / this.perPage);
      },

      filteredData() {
        if (this.filter.length === 0 || !this.filter.trim()) {
          return this.data;
        } else {
          return _.filter(this.data, (row) => {
            return _.some(row, (col) => {
              return _.every(this.filter.toLowerCase().split(/\s+/), (filter) => {
                return _.includes(('' + col).toLowerCase(), filter)
              })
            })
          });
        }
      }
    },
  }
</script>

<template>
  <div>
    <div class="m-table-filter">
      <input type="text" v-model="filter" class="form-control" placeholder="Filtr" autofocus>
    </div>
    <table :class="{ 'm-table': true, 'm-table--actions': actions}">
      <thead>
      <tr>
        <th v-if="groupActions" class="m-table__condensed">
          <label class="m-control m-control--checkbox">
            <input type="checkbox">
            <div class="m-control__indicator"></div>
          </label>
        </th>

        <th v-for="column in columns" :class="{ 'm-table__condensed': column.condensed }">
          $${ column.title }
        </th>
      </tr>
      </thead>

      <tbody>
      <tr v-for="row in paginated">
        <td v-if="groupActions" class="m-table__condensed">
          <label class="m-control m-control--checkbox">
            <input type="checkbox">
            <div class="m-control__indicator"></div>
          </label>
        </td>
        <td v-for="column in columns">
          $${ row[column.key] }
        </td>
      </tr>
      </tbody>
    </table>

    <div class="m-table-footer">
      <div class="m-table-footer__group">
        Rows per page:
        <select v-model="perPage" number>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>

      <div class="m-table-footer__group">
        ${ from } - ${ to } of ${ filteredData.length }
      </div>

      <i class="fa fa-chevron-left m-table-footer__paging-button" @click.stop.prevent="changePage(-1)"></i>
      <i class="fa fa-chevron-right m-table-footer__paging-button" @click.stop.prevent="changePage(1)"></i>
    </div>
  </div>
</template>