<script xmlns:v-on="http://www.w3.org/1999/xhtml">
    import _ from 'lodash';

    module.exports = {
        props: {
            campaigns: Array,
            route: String
        },
        data() {
            return {
                counts: [],
                loading: [],
                filling: [],
                fill: {},
                error: []
            }
        },


        methods: {
            loadCount(campaign) {
                if (this.isCounted(campaign) || this.isLoading(campaign)) {
                    return;
                }

                this.loading.push(campaign.id);
                this.$http.get(this.route + '/' + campaign.id).then(response => {
                    response.json().then(data => {
                        this.counts.push({campaign: campaign.id, count: data.count})
                    });
                    let index = this.loading.indexOf(campaign.id);
                    this.loading.splice(index, 1);
                });
            },
            fillCampaign(campaign) {
                this.error = [];
                this.filling.push(campaign.id);
                this.$http.put(this.route + '/' + campaign.id, {
                    campaign: campaign,
                    count: this.fill[campaign.id]
                }).then(
                    response => {
                        this.fill[campaign.id] = 0;
                        let index = this.filling.indexOf(campaign.id);
                        this.filling.splice(index, 1);
                    },
                    err => {
                        this.fill[campaign.id] = 0;
                        let index = this.filling.indexOf(campaign.id);
                        this.filling.splice(index, 1);
                        this.error.push(campaign.id);
                    }
                );
            },
            isCounted(campaign) {
                return _.findIndex(this.counts, {'campaign': campaign.id}) >= 0;
            },
            isLoading(campaign) {
                return _.indexOf(this.loading, campaign.id) >= 0;
            },

            isFilling(campaign) {
                return _.indexOf(this.filling, campaign.id) >= 0;
            },

            hasError(campaign) {
                return _.indexOf(this.error, campaign.id) >= 0;
            },

            getCount(campaign) {
                let data = _.find(this.counts, {'campaign': campaign.id});
                return data ? data.count : 0;
            },
            isNotZero(campaign) {
                return this.fill[campaign.id] > 0;
            }
        },
        computed: {},
        components: {}
    }

</script>

<style>

</style>

<template>

    <div class="fill-campaigns">

        <div class="tiles tiles-framed tiles-default">
            <div class="tiles-body tiles-body-table">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>Kampaň</th>
                        <th>Sql</th>
                        <th>Počet k přiřazení</th>
                        <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="campaign in campaigns">
                        <td>${ campaign.name }</td>
                        <td>
                            <a class="btn btn-info"><i class="fa fa-database"></i></a>
                        </td>
                        <td style="width:1px;">
                            <a v-show="!isCounted(campaign) && !isLoading(campaign)" @click="loadCount(campaign)"
                               id="btn-count-${campaign.id}" class="btn btn-primary">
                                Zjistit počet k přizení
                            </a>
                            <img v-show="isLoading(campaign)" style="width:30px;" src="/images/spinner.svg"/>
                            <span v-show="isCounted(campaign)">${ getCount(campaign) }</span>
                        </td>
                        <td>
                            <input type="number" v-model="fill[campaign.id]" value="0" name="count" class="form-control"
                                   number/>
                            <span v-show="hasError(campaign)" class="text-danger">Nalití dat skončilo s chybou</span>
                        </td>
                        <td style="width:1px;">
                            <a v-show="isNotZero(campaign) && !isFilling(campaign)" @click="fillCampaign(campaign)"
                               class="btn btn-primary">Doplnit záznamy</a>

                            <img v-show="isFilling(campaign)" style="width:30px;" src="/images/spinner.svg"/>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</template>