<script xmlns:v-on="http://www.w3.org/1999/xhtml">
    import _ from 'lodash';
    import Vue from 'vue';

    module.exports = {
        props: ['lang', 'type'],
        data() {
            return {
                inquiries: [],
                selectedInquiry: null,
                region_id: null,
                q: null,
                firms: [],
                selectedFirms: []
            }
        },
        methods: {
            loadInquiries() {
                const api_url = '/tm/find-clients/inquiries';
                let options = {
                    params: {
                        lang: this.lang,
                        type: this.type
                    }
                };
                this.$http.get(api_url, options).then(response => response.json().then(data => {
                        this.$set('inquiries', data);
                        Vue.nextTick(() => $('[data-toggle="tooltip"]').tooltip());
                    })
                );
            },

            selectInquiry(inquiry) {
                this.selectedInquiry = inquiry;
            },

            isInquirySelected(inquiry) {
                if (this.selectedInquiry === null) {
                    return false;
                }

                return this.selectedInquiry.inquiry_id === inquiry.inquiry_id;
            },

            submitSearch(event) {
                if ((event.type === 'keyup' && event.keyCode === 13) || (event.type === 'change') || (event.type === 'click')) {
                    this.loadFirms();
                    return true;
                }
                return false;
            },

            loadFirms() {
                if (this.q) {
                    const api_url = '/tm/find-clients/find';
                    let options = {
                        params: {
                            lang: this.lang,
                            type: this.type,
                        }
                    };
                    this.$http.post(api_url, {
                        region_id: this.region_id,
                        q: this.q
                    }, options).then(response => response.json().then(data => {
                        this.$set('firms', data);
                        this.$set('selectedFirms', []);
                    }));
                }

                return false;
            },

            isSelected(item) {
                return this.selectedFirms.indexOf(item.id) >= 0;
            },

            selectItem(item) {
                if (this.isSelected(item)) {
                    let index = this.selectedFirms.indexOf(item.id);
                    this.selectedFirms.splice(index, 1);
                } else {
                    this.selectedFirms.push(item.id);
                }
            },

            submitAssign() {
                const api_url = '/tm/find-clients';
                let options = {
                    params: {
                        lang: this.lang,
                        type: this.type
                    }
                };
                this.$http.post(api_url, {
                    firms: this.selectedFirms,
                    inquiry: this.selectedInquiry
                }, options).then(()=> {
                    const $modal = $('#__modal');
                    $modal.modal('hide');
                    if ($.support.pjax) {
                        $.pjax.reload('#app', {scrollTo: false})
                    } else {
                        window.location.reload();
                    }
                });
            },
            pm(firm, type) {
                const counts = [];
                _.each(firm.orders, (order) => {
                    counts[order.state] = ++counts[order.state] || 1;
                });

                console.log(counts[type]);

                return counts[type] ? counts[type] : 0;
            }
        },
        ready() {
            this.loadInquiries();
        },
        components: {}
    }

</script>

<style>
    .find-clients .mb-0 {
        margin-bottom:0;
    }

    .find-clients .assign-button {
        margin-top:20px;
        margin-right:15px;
    }
</style>

<template>
    <div class="find-clients">
        <div class="row" id="find-clients">
            <div class="col-md-5" style="max-height: 70vh;overflow-y: scroll">
                <table class="table table-bordered mb-0">
                    <tr v-for="inquiry in inquiries"
                        :class="{ selected: isInquirySelected(inquiry) }"
                    >
                        <td @click="selectInquiry(inquiry)">
                            <strong style="font-size:14px;">${inquiry.title}</strong>
                            <br/>
                            <small>${inquiry.category}, ${inquiry.region}, ${inquiry.budget}</small>
                        </td>
                        <td>
                            <span rel="tooltip"
                                  data-toggle="tooltip"
                                  data-trigger="hover"
                                  data-container=".find-clients"
                                  data-html="true"
                                  data-placement="right"
                                  data-title="<span style='text-align:left'>${inquiry.body}</span>">
                                <a v-if="lang=='sk'" href="http://dopyty.123dopyt.sk/dopyt/${inquiry.inquiry_id}-${inquiry.titleSanitized}" target="_blank"><i class="fa fa-search"></i></a>
                                <a v-if="lang=='cs'" href="http://poptavky.epoptavka.cz/poptavka/${inquiry.inquiry_id}-${inquiry.titleSanitized}" target="_blank"><i class="fa fa-search"></i></a>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7" style="max-height: 70vh;overflow:hidden;overflow-y: scroll">
                <div class="form-mundo">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="q">Vyhledat</label>
                                <div class="controls">
                                    <input class="form-control" title="Vyhledat" @keyup="submitSearch" v-model="q"
                                           type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="controls">
                                    <div class="input-group">
                                        <select v-if="lang=='cs'" title="Region" class="form-control" @change="submitSearch" v-model="region_id" number>
                                            <option selected value="0">Celá ČR</option>
                                            <option value="12">Praha</option>
                                            <option value="13">Středočeský kraj</option>
                                            <option value="14">Jihočeský kraj</option>
                                            <option value="15">Plzeňský kraj</option>
                                            <option value="16">Karlovarský kraj</option>
                                            <option value="17">Ústecký kraj</option>
                                            <option value="18">Liberecký kraj</option>
                                            <option value="19">Královéhradecký kraj</option>
                                            <option value="20">Pardubický kraj</option>
                                            <option value="21">Kraj Vysočina</option>
                                            <option value="22">Jihomoravský kraj</option>
                                            <option value="23">Olomoucký kraj</option>
                                            <option value="24">Zlínský kraj</option>
                                            <option value="25">Moravskoslezský kraj</option>
                                        </select>
                                        <select v-if="lang=='sk'" title="Region" class="form-control" @change="submitSearch" v-model="region_id" number>
                                            <option selected value="0">Celá SR</option>
                                            <option value="27">Banskobystrický kraj</option>
                                            <option value="28">Bratislavský kraj</option>
                                            <option value="29">Košický kraj</option>
                                            <option value="30">Nitriansky kraj</option>
                                            <option value="31">Prešovský kraj</option>
                                            <option value="32">Trenčiansky kraj</option>
                                            <option value="33">Trnavský kraj</option>
                                            <option value="34">Žilinský kraj</option>
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary btn-primary" @click="submitSearch">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-bordered mb-0" v-if="firms.length > 0">
                    <tbody>
                    <tr v-for="firm in firms" :class="{ selected: isSelected(firm) }">
                        <td @click="selectItem(firm)">
                            <strong style="font-size:14px;">${firm.title}</strong>
                            <p>
                                <small>${firm.description}</small>
                            </p>
                            <p>
                                <small class="text-muted">${firm.categories.join(' | ')}</small>
                            </p>

                            <p v-if="firm.orders.length" class="mb-0">
                                <strong><small class="text-mutted">Celkem: ${firm.orders.length}</small></strong>
                                <small v-if="pm(firm, 'paid')" class="text-success">Zaplacené: ${pm(firm, 'paid')}</small>
                                <small v-if="pm(firm, 'cancelled')" class="text-danger">Zrušené: ${pm(firm, 'cancelled')}</small>
                                <small v-if="pm(firm, 'blocked')" class="warning">Blokované: ${pm(firm, 'blocked')}</small>
                            </p>
                        </td>
                        <td>
                            <a target="_blank" v-if="firm.web" href="${firm.web}"><i class="fa fa-globe"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                    <button v-if="selectedFirms.length > 0" class="btn assign-button btn-primary" @click="submitAssign">
                        <i class="fa fa-plus"></i> Přiřadit ($${selectedFirms.length})
                    </button>
            </div>
        </div>
    </div>
</template>