<script>
  import _ from 'lodash';
  import RecordFlag from './record-flag.vue'

  module.exports = {
    props: {
        items: {
            type: Array,
            default: null
        },
        users: {
            type: Array,
            default: function() {
                return []
            }
        },
        route: {
            type: String
        },
        position: {
            type: Object
        }
    },
    data() {
        return {
            selectedItems: []
        }
    },
    methods: {
        isSelected(item) {
            return this.selectedItems.indexOf(item.id) >= 0;
        },
        selectItem(item) {
            if(this.isSelected(item)) {
               this.removeItem(item);
               return
            }
            this.addItem(item)
        },
        addItem(item) {
            this.selectedItems.push(item.id)
        },
        removeItem(item) {
            let index = this.selectedItems.indexOf(item.id);
            this.selectedItems.splice(index, 1);
        },
        recordName(item) {
            return item.remoteData.company ?
                item.remoteData.company :
                item.remoteData.contact_person

        }
    },
    computed: {
        selectedItemsEmpty() {
            return this.selectedItems.length == 0
        },
        offset() {
            if(typeof this.position.scrollTop == "undefined") {
                return 10
            }
            return 10 + this.position.scrollTop
        }
    },
    components: { RecordFlag }
  }


</script>

<style>
    .selected {
        background-color: rgba(35, 185, 169, 0.15);
    }

    #form-box {
        position: absolute;
        right: 30px;
        background-color: #d3d3d3;
        padding: 10px;
        z-index:1000;
    }

</style>

<template>
    <div class="leads-forwarding">

        <div v-show="!selectedItemsEmpty" id="form-box" :style="{ top: offset + 'px' }">
            <form method="POST" action="${route}" accept-charset="UTF-8">
                <input class="form-control" name="records" type="hidden" value="${selectedItems}">
                <select name="user_id">
                    <option v-for="user in users" value="${user.id}">${user.name}</option>
                </select>
                <input class="btn btn-primary" type="submit" value="Přiřadit">
                <slot></slot>
            </form>
        </div>

        <table class="m-table m-table--actions">
            <thead>
            <tr>
                <th>Jméno</th>
                <th>Datum přijetí</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in items" :class="{ selected: isSelected(item) }" @click="selectItem(item)">
                <td>
                    <record-flag :record="item"></record-flag>
                    ${ recordName(item) }
                    <br/>
                    <small>#${ item.campaign.sync_id } - ${ item.campaign.name }</small>
                </td>
                <td>${ item.created_at | moment "D. M. YYYY H:ss" }</td>
                <td>
                    <div class="btn-group">
                        <a href="/tm/records/${item.id}" data-pjax="false" target="_blank">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>