<script xmlns:v-on="http://www.w3.org/1999/xhtml">
    import _ from 'lodash';
    import RecordFlag from './record-flag.vue'

    module.exports = {
        props: {
            users: [],
            routes: {
                type: Object
            }
        },
        data() {
            return {
                left: {
                    selected_user: 0,
                    records: [],
                    selected_records: [],
                    loading: false
                },
                right: {
                    selected_user: 0,
                    records: [],
                    selected_records: [],
                    loading: false
                }
            }
        },
        methods: {
            loadRecords(side) {
                this[side].records = [];
                this[side].selected_records = [];

                if (this[side].selected_user == 0) {
                    return;
                }

                this[side].loading = true;
                this.$http.get(this.routes.get, {params: {user: this[side].selected_user}}).then(response => {
                    this[side].records = JSON.parse(response.body.content);
                    this[side].loading = !this[side].loading;
                });
            },

            moveRecords(from, to) {
                this.$http.post(this.routes.post, {
                    user: this[to].selected_user,
                    records: this[from].selected_records
                }).then(response => {
                    this.loadRecords(from);
                    this.loadRecords(to);
                });
            },

            operators(exclude_side) {
                return _.filter(this.users, o => o.id != this[exclude_side].selected_user);
            },

            recordName(item) {
                return item.remoteData.company ?
                    item.remoteData.company :
                    item.remoteData.contact_person
            },

            isSelected(item, side) {
                return this[side].selected_records.indexOf(item.id) >= 0;
            },

            selectItem(item, side) {
                if (this.isSelected(item, side)) {
                    this.removeItem(item, side);
                } else {
                    this.addItem(item, side);
                }
            },

            addItem(item, side) {
                this[side].selected_records.push(item.id)
            },

            removeItem(item, side) {
                let index = this[side].selected_records.indexOf(item.id);
                this[side].selected_records.splice(index, 1)
            },

            toggleAll(side) {
                if (this[side].selected_records.length) {
                    this[side].selected_records = [];
                } else {
                    this[side].records.forEach(item => this[side].selected_records.push(item.id));
                }
            },

            anySelected(side) {
                return this[side].selected_records.length > 0;
            },

            datetime(date) {
                return moment(date).format('D. M. Y HH:mm:ss');
            }

        },
        computed: {},
        components: {RecordFlag}
    }

</script>

<style>

    .move-records {
        height: 100%;
        display: flex;
    }

    .move-records .control-bar {
        width: 100px;
        background-color: rgba(211, 211, 211, 0.3);
        border-left: 1px solid #c7c7c7;
        border-right: 1px solid #c7c7c7;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .move-records .control-bar .select-part {
        flex: 0;
    }

    .move-records .control-bar .move-part {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        padding: 0 10px;
    }

    .move-records .control-bar a.select-all {
        line-height: 20px;
    }

    .move-records .control-bar a.btn-move-records {
        line-height: 50px;
        margin: 10px 0;
    }

    .move-records .items {
        height: 100%;
        overflow-y: scroll;
    }

    .move-records .items .item {
        padding: 10px 15px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.3);
        text-align: left;
    }

    .move-records .items .item:last-child {
        border-bottom: 0;
    }

    .move-records .items .item:first-child {
        border-top: 1px solid rgba(128, 128, 128, 0.3);
    }

    .move-records .selected {
        background-color: rgba(35, 185, 169, 0.15);
    }

    .move-records .side {
        flex: 1 0 0;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

</style>

<template>
    <div class="move-records">

        <!-- left part -->
        <div class="side">
            <div class="form-mundo">
                <div class="form-group"><label for="operator-left">Operátor</label>
                    <div class="controls">
                        <select id="operator-left" class="form-control" v-model="left.selected_user"
                                v-on:change="loadRecords('left')" number>
                            <option value="0">-- uživatel nevybrán --</option>
                            <option v-for="user in operators('right')" value="${user.id}">${user.name}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div v-show="left.loading"><img src="/images/spinner.svg"/></div>
            <div class="items">
                <div v-for="item in left.records"
                     :class="{ selected: isSelected(item, 'left') }"
                     @click="anySelected('right') ? null : selectItem(item, 'left')"
                     class="item">
                    <record-flag :record="item"></record-flag>
                    ${ recordName(item) }
                    <br/>
                    $${ item.record_label }
                    <small>#${ item.campaign.sync_id } - ${ item.campaign.name } <br/> <i class="fa fa-clock-o"></i>&nbsp;${datetime(item.next_call == null ? item.created_at : item.next_call)}</small>
                </div>
            </div>
        </div>

        <!-- controls -->
        <div class="control-bar">
            <div class="select-part">
                <small>vybrat vše</small>
                <br/>
                <a :class="anySelected('left') ? 'btn-danger' : 'btn-success'"
                   class="btn select-all"
                   @click="anySelected('right') ? null : toggleAll('left')">
                    <i :class="anySelected('left') ? 'fa-times' : 'fa-arrow-left'"
                       class="fa fa-fw fa-arrow-left"></i>
                </a>
                <a :class="anySelected('right') ? 'btn-danger' : 'btn-success'"
                   class="btn select-all"
                   @click="anySelected('left') ? null : toggleAll('right')">
                    <i :class="anySelected('right') ? 'fa-times' : 'fa-arrow-right'"
                       class="fa fa-fw fa-arrow-right"></i>
                </a>
            </div>
            <div class="move-part">
                <a v-show="right.selected_records.length && left.selected_user"
                   class="btn btn-primary btn-move-records"
                   @click="moveRecords('right', 'left')">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a v-show="left.selected_records.length && right.selected_user"
                   class="btn btn-primary btn-move-records"
                   @click="moveRecords('left', 'right')">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>


        <!-- right part -->
        <div class="side">
            <div class="form-mundo">
                <div class="form-group"><label for="operator-right">Operátor</label>
                    <div class="controls">
                        <select id="operator-right" class="form-control" v-model="right.selected_user"
                                v-on:change="loadRecords('right')" number>
                            <option value="0">-- uživatel nevybrán --</option>
                            <option v-for="user in operators('left')" value="${user.id}">${user.name}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div v-show="right.loading"><img src="/images/spinner.svg"/></div>

            <div class="items" v-show="!right.loading">
                <div v-for="item in right.records"
                     :class="{ selected: isSelected(item, 'right') }"
                     @click="anySelected('left') ? null : selectItem(item, 'right')"
                     class="item">
                    <record-flag :record="item"></record-flag>
                    ${ recordName(item) }
                    <br/>
                    <small>#${ item.campaign.sync_id } - ${ item.campaign.name }</small>
                </div>
            </div>
        </div>
    </div>
</template>