<script>
  module.exports = {
    props: {
      record: {
        type: Object,
        default: null
      }
    },
    methods: {
        classForRecord() {
            let langClass = this.record.remoteData.lang;
            if(langClass == 'cs') {
                langClass = 'cz'
            }
            return 'flag-icon flag-icon-' + langClass
        }
    }
  }

</script>

<template>
    <span :class="classForRecord()"></span>
</template>