@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";
//Font Awesome
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import "~vue-multiselect/dist/vue-multiselect.min.css";

@import "~flag-icon-css/sass/flag-icon";

.h-5 {
  height: 5% !important;
}

.h-30 {
  height: 30% !important;
}

.h-70 {
  height: 70% !important;
}

.h-92 {
  height: 92% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.container-fluid {
  height: 100vh;
}

.suppliers-list {
  overflow-x: auto;
  overflow-y: scroll;
  font-size: 0.875rem;

  ul {
    li {
      border: 0 !important;
      border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
      border-radius: 0 !important;
      padding: 0.5rem;
      cursor: pointer;
      flex-direction: column;
      text-align: left;
      align-items: baseline;
      &:hover {
        background-color: rgba(2, 101, 199, 0.51);
        color: #fff;
      }
      &:first-child {
        border-top: 0 !important;
      }
      &.active {
        background-color: rgba(2, 101, 199, 0.71);
        a {
          color: #fff;
        }
      }
      h5, p {
        margin-bottom: 0.2rem;
      }
      p {
        &.description {
          font-size: 13px;
        }
        &.description_2 {
          font-size: 13px;
          margin-top:5px;
          border-top:1px dotted rgba(0, 0, 0, 0.125);
          padding-top:5px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.filter-box {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  hr {
    margin: 0.85rem 0;
  }

  .facets-box {
    hr {
      margin: 0.4rem 0 0.6rem 0;
    }

    ul.facets-regions, ul.facets-categories {
      margin-bottom: 0;
      li {
        margin-bottom: 5px;
      }
    }
  }

  .form-group {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.inquiry-box {
  font-size: 0.875rem;
  .inquiry-body {
    margin-top: 0.5rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    max-height: 450px;
    overflow-x: auto;
    overflow-y: scroll;
  }
}

.button-line {
  padding-top: 10px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.inquiries-info {
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.homepage {
  padding-top: 60px;
  .row {
    padding: 20px 0;
  }
  a.btn {
    line-height: 150px;
    font-size: 4rem;
  }
}