<script>
    import {mapState, mapActions} from 'vuex';

    export default {
        methods: {
            ...mapActions({
                solve: 'SOLVE_MAIL',
                remove: 'REMOVE_MAIL'
            })
        },
        computed: {
            ...mapState({
                mail: state => state.selected_mail,
                info: state => state.selected_mail_info
            })
        },
    }
</script>

<style>

</style>

<template>
    <div class="mail-actions col-12 h-25 border-top-gray">
        <div class="row h-75" v-if="mail">
            <div class="col-5 h-100 pt-3">
                <dl class="row">
                    <dt class="col-5">Nalezený email:</dt>
                    <dd class="col-7">{{ info.email_from_text }}</dd>
                    <dt class="col-5">Odesílatel:</dt>
                    <dd class="col-7">{{ mail.from_email }}</dd>
                    <dt class="col-5">Příjemce:</dt>
                    <dd class="col-7">{{ Object.keys(mail.to)[0] }}</dd>
                </dl>
            </div>
            <div class="col-7 h-100 pt-3 logout-box">
                <!-- Nav tabs -->
                <div v-if="info.logout" class="h-100 d-flex flex-column">
                    <div>
                        <ul class="nav" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#projects"
                                   role="tab">Odhlášené projekty ({{ info.logout.projects.length }})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " data-toggle="tab" href="#requests"
                                   role="tab">Zaslané žádosti ({{ info.logout.send_requests.length }})</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="projects" role="tabpanel">
                                <ul v-if="info.logout.projects.length">
                                    <li v-for="project in info.logout.projects">
                                        {{ project.name }}
                                        <small class="pull-right">{{ project.pivot.created_at | moment("calendar") }}</small>
                                    </li>
                                </ul>
                                <p v-else>Žádné odhlášené projekty</p>
                            </div>
                            <div class="tab-pane" id="requests" role="tabpanel">
                                <ul v-if="info.logout.send_requests.length">
                                    <li v-for="request in info.logout.send_requests">
                                        {{ request.name }}
                                        <small class="pull-right">{{ request.created_at | moment("calendar") }}</small>
                                    </li>
                                </ul>
                                <p v-else>Žádné zaslané žádosti</p>
                            </div>
                        </div>
                    </div>
                </div>
                <p v-else>Žádné záznamy z logout systému</p>
            </div>
        </div>
        <div class="row h-25 border-top-gray" v-if="mail">
            <div class="col-4" style="line-height: 50px;">
                Logout:
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a :href="'http://logout.b2m.cz/requests/create?email=' + info.email_from_text"
                       onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=816,height=694,toolbar=1,resizable=0'); return false;"
                       class="btn btn-secondary">
                        Zaslat žádost
                    </a>
                    <a :href="'http://logout.b2m.cz/logouts/create?email=' + info.email_from_text"
                       onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=816,height=694,toolbar=1,resizable=0'); return false;"
                       class="btn btn-secondary">
                        Zadat logout
                    </a>
                </div>
            </div>
            <div class="col-4 text-center" style="line-height: 50px;">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="http://telemarketing.partner.b2m.cz/telemarketing/internal-leads"
                       onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=673,height=957,toolbar=1,resizable=0'); return false;"
                       class="btn btn-secondary">
                        Zadat lead
                    </a>
                    <a data-fancybox data-src="#hidden-content" class="btn btn-secondary">Požadavek ZP</a>
                </div>
            </div>
            <div class="col-4 text-right" style="line-height: 50px;">
                <button @click="solve()" type="button" class="btn btn-secondary"><i class="fa fa-check"></i></button>
                <button @click="remove()" type="button" class="btn btn-secondary"><i class="fa fa-close"></i></button>
            </div>
        </div>

        <div style="" id="hidden-content">

        </div>

    </div>
</template>