<script>
    import {mapState, mapActions} from 'vuex'

    export default {
        methods: {
            ...mapActions({
                selectMail: 'SELECT_MAIL',
                assignMails: 'ASSIGN_MAILS'
            }),
            isSelected(mail) {
                return this.selected_mail !== null && mail.id === this.selected_mail.id;
            }
        },
        mounted() {
            this.$store.dispatch('LOAD_MAILS');
        },
        computed: mapState(['mails', 'folder', 'selected_mail', 'total'])
    }
</script>

<template>
    <div id="mails-list" class="col">
        <div class="row h-100">
            <div class="col-5 border-right-gray no-padding mails-list" ref="container">
                <div class="filter border-bottom-gray">
                    Počet k vyžízení: {{ total }}
                </div>
                <div class="list-group">
                    <a v-for="mail in mails"
                       @click.prevent="selectMail(mail)"
                       v-bind:class="{ active : isSelected(mail) }"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h6 class="mb-1">{{ mail.from_name || mail.from_email }}</h6>
                            <small>{{ mail.delivered_at | moment("calendar") }}</small>
                        </div>
                        <p class="mb-1">{{ mail.subject }}</p>
                    </a>
                </div>

                <!--<div v-show="mails" ref="loader" style="width:100%; height:60px; background-color:#0000FF"></div>-->

                <div v-show="!mails.length" style="width:100%; height:60px; background-color:#ff1028">
                    <a href="" class="btn btn-primary" @click.prevent="assignMails()">Přiřadit emaily ke zpracování</a>
                </div>

            </div>
            <div class="col-7 h-100">
                <mail-detail></mail-detail>
            </div>
        </div>
    </div>
</template>