<script>
    import { mapState } from 'vuex';

    export default {
        computed: {
            ...mapState({
                mail: state => state.selected_mail
            }),
        }
    }
</script>

<template>
    <div class="mail-detail row h-100">
        <div class="mail-holder col-12 h-75">
            <div v-if="mail" class="d-flex flex-column h-100">
                <div class="row">
                    <div class="col">
                        <div class="flex-column">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 v-if="mail.from_name" class="mb-1">{{ mail.from_name }}, {{ mail.from_email }}</h6>
                                <h6 v-if="!mail.from_name" class="mb-1">{{ mail.from_email }}</h6>
                                <small>{{ mail.delivered_at | moment('calendar') }}</small>
                            </div>
                            <p class="mb-1">{{ mail.subject }}</p>
                        </div>
                        <hr />
                    </div>
                </div>
                <iframe :src="mail.content_route"></iframe>
            </div>
        </div>
        <action-box></action-box>
    </div>
</template>